<div class="hero-image">
  <div class="hero-text">

<h1>Your Reviews</h1>

</div>
</div>


<% @reviews.each do |review| %>
        <p><%= link_to review.food_truck.name, food_truck_path(review.food_truck) %></p>
        <p><%= review.content %></p>
    
<% end %>